body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #a9a9a9;
    font-size: 27px;
    margin-left: 20px;
}

h2 {
    color: #a9a9a9;
    font-size: 23px;
}

h3 {
    color: #a9a9a9;
    font-size: 21px;
}

#container {
    max-width: 1000px;
    background: white;
    width: 100%;
    margin: 0 auto;
}

div#header {
    margin-bottom: 25px;
}

.col-sm-4.logo img {
    width: 80%;
}

.col-sm-8.navmenu {
    padding-top: 19px;
}

.bg-light {
    background-color: #fff!important;
}

.logo {
    padding: 20px 0 0 70px;
}

.logo-img {
    max-width: 230px;
}

#main {
    width: 100%;
    margin: 0 auto;
}

.content {
    padding: 5px 20px 20px 20px;
    font-size: 15px;
    line-height: 30px;
    margin-left: 20px;
}

.content td {
    width: 25%;
}

.container-calc {
    padding: 25px;
}

button.btn.btn-primary {
    width: 100%;
    font-size: 20px;
    background: #71bf44;
    border-color: #71bf44;
}

button.btn.btn-primary:hover {
    background: #31a678;
}

.content p {
    margin-bottom: 25px;
}

#main a {
    color: #6a76b1;
}

#information {
    padding: 40px 20px 40px 20px;
}

blockquote {
    font-family: Georgia,serif;
    font-style: italic;
    padding: 20px 0 20px 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote cite {
    color: #999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.info {
    padding: 25px;
}

#footer {
    border-top: 1px dashed #007BA7;
    height: 40px;
}

#footer p {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
}